html {
    height: 100vh;
    overflow: scroll;
}

body {
    height: 100vh;
    overflow: hidden;
}

.postContainer {
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.profile-container img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

p.name {
    margin: 0;
    font-weight: 700;
    color: var(--bf-theme-header-text);
}

p.name span.period {
    font-weight: 400;
    color: var(--bf-theme-body-text);
}

.location {
    color: var(--bf-theme-body-text);
}

.textContainer {
    padding-top: 6px;
    color: var(--bf-theme-body-text);
}

.imageContainer {
    width: auto;
    height: 180px;
    margin-bottom: 8px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.reactionCount {
    text-align: center;
}

#getSomePosts {
    margin: 10px;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(42, 54, 158);
    border: 1px solid blue;
    color: aliceblue;
}

.reactionsContainer{
    height: 2.5rem;
    width: 3.5rem;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--bf-theme-body-text);
}

.mirror{
    transform: scale(-1,1);
}